@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

@media print {
  @page {
    size: auto;
    margin: 0mm;
  }
  body {
    -webkit-print-color-adjust: exact;
    background-color: white;
    print-color-adjust: exact;
  }
}
